body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(26, 228, 244, 0.15) 0%,rgba(50, 206, 35, 0.15) 100%),linear-gradient(90deg, rgb(44, 56, 250),rgb(88, 219, 228));
}

input {
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
}